<nav class="nav  nav--social">
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="https://ourcompose.us17.list-manage.com/subscribe/post?u=5ad50617f622ad67a5622b269&amp;id=a8561e41df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <h2>Subscribe to our Mailing List for Updates and New Episodes</h2>
                <div class="mc-field-group">
                    <label for="mce-EMAIL" class="darkmode-ignore">Email Address *Required</label>
                    <input type="email" value="" name="EMAIL" class="required email darkmode-ignore" placeholder="Email" id="mce-EMAIL"></input>
                </div>
                <div class="mc-field-group">
                    <label for="mce-FNAME" class="darkmode-ignore">First Name </label>
                    <input type="text" value="" name="FNAME" class="darkmode-ignore" id="mce-FNAME" placeholder="Name">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: relative; display:none" aria-hidden="true"><input type="text" name="b_5ad50617f622ad67a5622b269_a8561e41df" tabindex="-1" value=""></div>
                <div class="clear darkmode-ignore"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
</nav>