<h3 class="peskyh3"><a href="{{ site.url }}{{ site.baseurl }}episodes/">Recent Episodes</a></h3>
<ul class="list  list--posts">
  {% for page in site.posts limit: 3 %}
    {% assign has_related = true %}
    <li class="item  item--post">
      <article class="article  article--post  typeset darkmode-ignore">

        <h4><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h4>
        {% include post-meta.html %}

      </article>
    </li>
  {% endfor %}

  {% if has_related != true %}
    <p>There are no related posts</p>
  {% endif %}
</ul>
