<script>
    window.config = {
      options: {
        theme: "default",
        customStyle: {
          primary: "#e56a19",
          background: "#242e2b",
          text: "#a8adac"
        }
      },
      extensions: {
        SubscribeBar: {
          disabled: false,
        },
        ChapterMarks: {
          disabled: false,
        },
        EpisodeInfo: {
          disabled: false,
        }
      },
      podcast: {
        title: "OurComposeCast",
        feed: "{{ site.url }}{{ '/feed.xml' | relative_url }}",
        connections: {
          itunes: "https://podcasts.apple.com/us/podcast/ourcomposecast/id1529705982",
          spotify: "https://open.spotify.com/show/1Pfb0OvrCZnNr34wG4uXPB",
          google: "https://www.google.com/podcasts?feed=aHR0cHM6Ly9vdXJjb21wb3NlLmNvbS9qZWt5bGwvZmVlZC54bWw",
          deezer: "https://deezer.com/show/1684922"
        }
      },
      episode: {
        media: {
          mp3: "{{ site['url'] }}{{ site['baseurl'] }}assets/audio/episode-{{ page['index'] }}-{{ page['title'] | slugify }}.mp3"
        },
        coverUrl: "{{ site['url'] }}{{ site['baseurl'] }}assets/images/episode-{{ page['index'] }}-{{ page['title'] | slugify }}.png",
        subtitle: "Episode #{{ page['index'] }} -- {{ page['date'] | date: date_format }}",
        url: "{{ site['url'] }}{{ site['baseurl'] }}{{ page['url'] }}",
        title: "{{ page['title'] }}",
        chaptermarks: [
          {%- for chapter in page['chapters'] -%}
            {start: "{{ chapter['start'] }}", title: "{{ chapter['title'] }}"},
          {%- endfor -%}
        ]
      }
    }
</script>

<script class="podigee-podcast-player darkmode-ignore" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="config"></script>
