{% if paginator.posts %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in paginator.posts %}
        <li class="item  item--post">
          <article class="article  article--post darkmode-ignore">

            <h2><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h2>
            <p><a href="{{ page.url | relative_url }}"><img src="{{ site['url'] }}{{ site['baseurl'] }}assets/images/episode-{{ page['index'] }}-{{ page['title'] | slugify }}.png"/></a></p>
            {% include post-meta.html %}

          </article>
        </li>
      {% endfor %}
    </ul>
    {% include post-pagination.html %}
  </section>
{% else %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in site.posts %}
        <li class="item  item--post">
          <article class="article  article--post darkmode-ignore">

              <h2><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h2>
            <p><a href="{{ page.url | relative_url }}"><img src="{{ site['url'] }}{{ site['baseurl'] }}assets/images/episode-{{ page['index'] }}-{{ page['title'] | slugify }}.png"/></a></p>
            {% include post-meta.html %}

          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
