{% assign services_string = " " %}
<!-- iterate through all the posts on the site -->
{% for post in site.posts  %}
    {% unless services_string contains post.service %}
        <!-- gather all of the services -->
        {% if post.service contains ' ' %}
            {% assign post_service = post.service | replace: ' ', '%20' %}
        {% else %}
            {% assign post_service = post.service %}
        {% endif %}
        {% assign services_string = services_string | append: post_service | append: ' ' %}
    {% endunless %}
{% endfor %}

{% assign services_array = services_string | strip | split: ' ' | sort %}

<div class="categories">
<ul>
{% for services in services_array %} 
    {% if services contains "%20" %}
        {% assign service = services | replace: '%20', ' ' %}
    {% else %}
        {% assign service = services %}
    {% endif %}
    <li><a href="#{{ service }}">{{ service }}</a></li>
{% endfor %}
</ul>
</div>



<!-- iterate through all categories on the site --> 
{% for services in services_array %} 
    {% if services contains "%20" %}
        {% assign service = services | replace: '%20', ' ' %}
    {% else %}
        {% assign service = services %}
    {% endif %}
  <!-- for each tag, create an anchor by using the tag name as an id --> 
  <div id="{{ service }}">  
    <h3> {{ service }} </h3>  <!-- for create a heading --> 

    <ol> <!-- create the list of posts -->
      <!-- iterate through all the posts on the site --> 
      {% assign sorted_posts = site.posts | sort: 'date' %}
      {% for post in sorted_posts %} 
        <!-- list only those which contain the current tag --> 
        {% if post.service contains service %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
{% endfor %}

