{% if page.categories %}
  {% capture categories %}
    {% for category in page.categories %}
      <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ category | downcase }}">{{ category }}</a></span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {% endcapture %}
{% elsif page.category %}
  {% capture categories %}
    <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ page.category | downcase }}">{{ page.category }}</a></span>
  {% endcapture %}
{% endif %}
{% assign date_format = site.date_format | default: "%d %b %Y" %}
<small class="small  post-meta">
  <small style="color:#a8adac">Episode #{{ page.index }} - {{ page.service }}</small>
  <br/>
  <small style="color:#a8adac">{{ page.tagline }}</small>
  <br/>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="time">{{ page.date | date: date_format }}</time>
</small>
