<header class="header">
  <!-- Memberful Info-->
  <script type="text/javascript">
    window.MemberfulOptions = {site: "https://compositionalenterprises.memberful.com"};
  
    (function() {
      var s   = document.createElement('script');
  
      s.type  = 'text/javascript';
      s.async = true;
      s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';
  
      setup = function() { window.MemberfulEmbedded.setup(); }
  
      s.addEventListener("load", setup, false);
  
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
  </script>
  
  <div class="container">
    {% if site.logo %}{% include site-logo.html %}{% endif %}

    {% include nav-header.html %}
  </div>

  {% include site-feature.html %}

</header>
