{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}

{% if feature_text or feature_image %}
  <div class="feature"{% if feature_image %} style=""{% endif %}>
    <div class="container typeset">
      {% if page.index %}
        {% assign date_format = site.date_format | default: "%d %b %Y" %}
        <h1>Episode #{{ page.index }}</h1>
        <h2><time datetime="{{ page.date | date_to_xmlschema }}" class="time">{{ page.date | date: date_format }}</time></h2>
      {% else %}
        {{ feature_text | markdownify }}
      {% endif %}
    </div>
  </div>
{% endif %}
