<footer class="footer">
  <div class="container">
    <div class="copyright  typeset darkmode-ignore">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
