<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <!-- General meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% if page.collectionpage %}
      {% seo title=false %}

      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <title>{{ collectiondata.title }} - {{ site.title }}</title>
      <meta property="og:title" content="{{ collectiondata.title }}">
      <meta name="description" content="{{ collectiondata.description }}">
      <meta property="og:description" content="{{ collectiondata.description }}">
    {% else %}
      {% seo %}
    {% endif %}

    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>

    {% if site.css_inline == true %}
      {% include site-styles.html %}
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    {% endif %}

    {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}

    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

    {% include site-before-start.html %}
  </head>

  <body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    <!-- https://github.com/sandoche/Darkmode.js -->
    <script type="text/javascript" src="{{ "/assets/scripts/darkmode.js" | relative_url }}"></script>
    <div 
      id="logoinfo" 
      data-darkmodelogo="{{ "/assets/logos/LogoWithNameTransparentDark.png" | relative_url }}"
      data-lightmodelogo="{{ "/assets/logos/LogoWithNameTransparent.png" | relative_url }}"
    ></div>
    <script>
      var options = {
        bottom: '16px', // default: '32px'
        right: '32px', // default: '32px'
        left: 'unset', // default: 'unset'
        time: '0.5s', // default: '0.3s'
        mixColor: '#ddd', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#e56a19',  // default: '#100f2c'
        buttonColorLight: '#e56a19', // default: '#fff'
        saveInCookies: false, // default: true,
        label: '', // default: ''
        autoMatchOsTheme: false // default: true
      }
      options.lightmodeLogo = document.getElementById("logoinfo").dataset.lightmodelogo
      options.darkmodeLogo = document.getElementById("logoinfo").dataset.darkmodelogo
      const dm = new Darkmode(options)
      dm.showWidget();
      if (!dm.localStorageLight()) {
        console.log("Light Mode Set!")
        dm.toggle();
      }else{
        console.log("Local Storage Light Not Set")
      }
      window.addEventListener('load', function () {
        var isDarkmode = dm.isActivated();
        if (!isDarkmode) {
          var a = document.getElementById('logo')
          a.src = options.lightmodeLogo
          console.log("SHOULDBEDARK!")
        } else {
          var a = document.getElementById('logo')
          a.src = options.darkmodeLogo
        }
      })
    </script>
    {% include site-icons.svg %}

    {{ content }}

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}

    {% include site-before-end.html %}
  </body>

</html>
