---
layout: default
---

{% include site-header.html %}

<meta property="og:image" content="{{ site['url'] }}{{ site['baseurl'] }}assets/images/episode-{{ page['index'] }}-{{ page['title'] | slugify }}.png">

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <center><h1>{{ page.title }}</h1></center>

    <br/>

    <center><h5><b>{{ page.tagline }}</b></h5></center>

    <br/>

    {% include post-player.html %}

    {% include newsletter.html %}

    {{ content }}

    <hr>

    {% include call-to-action.html %}
  </article>

</main>

{% include site-footer.html %}
